* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

body {
  background-color: rgb(240, 240, 240);
}

.container {
  padding: 90px 10px;
  background-color: rgb(240, 240, 240);
}

.list-holder {
  border: grey 0.5px solid;
  background-color: white;
  box-shadow: 2px 2px 17px 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  background-color: white;
}

h1 {
  font-size: 15px;
}

.inputTask {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border-bottom: 0.5px solid grey;
}

i {
  padding-right: 5px;
  color: grey;
}

.addTask {
  font-style: italic;
  height: 20px;
  border: none;
  width: 100%;
  outline: none;
}

.list-input {
  outline: none;
  border: none;
}

.clear {
  height: 30px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  padding: 5%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70%;
    margin: 0 auto;
  }
}

button {
  border: none;
  background-color: white;
}

hr {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0 0;
  margin: 0;
}

li {
  display: flex;
  border-bottom: grey solid 0.5px;
}

li div {
  padding: 2.5% 2%;
}

.a-list {
  width: 95%;
}
